/.phpunit.result.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php
!.gitkeep
